# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

mac
gmail
work

vim/bundle/**
vim/plugged/**
~vim/bundle/vundle

vim/plugged

zsh/prezto/**

#netrw
vim/.netrwhist

# ignore work files
bin/fabric
atlas_backup
bin/atlas_backup
bin/backup.sh
bin/bdconnect

# newsbeuter
newsbeuter/cache.db
newsbeuter/cache.db.lock
newsbeuter/history.cmdline
newsbeuter/history.search

# ignore some binaries
bin/doctl
bin/rtop
bin/ex
bin/rview
bin/rvim
bin/view
bin/vim
bin/vimdiff
bin/vimtutor
bin/xxd
bin/zsh
bin/zsh-5.0.7
bin/syncthing
bin/unison
bin/sso
