[submodule "awesome/awesome-solarized"]
	path = awesome/awesome-solarized
	url = https://github.com/cycojesus/awesome-solarized.git
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen
